.timer{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   border-bottom: 1px solid #cacaca;
}

.progress{
    height: 6px;
    transition-duration: 1s;
    width: 0;
    transition-timing-function: linear;
    background: red;
}

.time-count{
    text-align: end;
    margin: 10px 10px;
}